.tempus-navbar-text{
    padding-left: 1rem;
    padding-right: 1rem;
}

.tempus-brand{
    font-family: $appFontFamily;
    font-size: $brandFSize;
    padding-left: 1rem;
    padding-right: 1.5rem;
    letter-spacing: 4px;
}